.ball-unselected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: black;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    text-align:center;
}
.ball-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 21, 0);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    text-align:center;
}

.ball-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;
}